{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome to the News App!</h1>

    <!-- <p>Want to stay informed but short on time?</p>
    <p>You're in luck!</p>
    <p>The News App aggregates headlines for various news categories from sources all over the web and brings them directly to you.</p>
    <p>To see today's top headlines, click "Read Headlines Now"</p>
    <p>Want headlines every day?</p>
    <p>Click "Headline Subscription Form" to subscribe and get news from your favorite categories delivered straight to your inbox every day!</p> -->

    {% endblock %}
