{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<h1 style="text-align:center">Welcome to The Times of Python!</h1>

<hr>


<br>
<h4>Want to stay informed but short on time?</h4>


<strong>The Times of Python aggregates headlines for various news categories from sources all over the web and brings 
    them directly to you!</strong>
<br>
<br>
<p>To see today's top headlines, click <b><a href="/news/headline_options">Read Headlines Now</a></p></b>
<br>
<hr>
<br>
<h4>Want headlines every day?</h4>
<p>Click <b><a href="/news/form">Headline Subsciption Form</a></b> to subscribe and get news from your favorite 
    categories delivered straight to your inbox every day!</p> 

<br>


    {% endblock %}
