{% extends "bootstrap_layout.html" %}
{% set active_page = "news_headlines" %}

{% block content %}

    <h2>{{ news_category.title() }} News - The Times of Python</h2>

    <hr>

    <br>

    <table>
    {% for headline in results["articles"] %}


        <a href="{{ headline['url'] }}"><h4>{{ headline["title"] }}</h4></a>
        <!-- <img src={image_url} alt={headline['title']} class='center' width={image_width} height={image_height}>" -->

        {% if headline['url'] != "null" $}
            <p style="text-align:center;"><img src="{{ headline['urlToImage'] }}" alt="{{ headline['title'] }}" class="center" width="600" height="337.5" ></p>
        {% endif %}

        {% if headline['description'] != "null" $}
            <p>{{ headline["description"] }} </p>
        {% endif %}

        <hr>

    {% endfor %}
    </table>

    <br>

    <form action="/news/headline_options">
        <button>Back</button>
    </form>

{% endblock %}

<!-- if headline['description'] is not None:
            html += f"<br>"
            html += f"<p>{headline['description']}<p>" -->

<!-- {% for forecast in results["hourly_forecasts"] %}
<li>{{ forecast["timestamp"] }} | {{ forecast["temp"] }} | {{ forecast["conditions"].upper() }}</li>
{% endfor %} -->

<!-- for headline in final_news_data["articles"]:
        #html += f"<h2>{headline['title']}</h2>"
        html += f"<a href={headline['url']} style='color:black'><h2>{headline['title']}</h2></a>"
        if headline['urlToImage'] is not None:
            image_url = headline["urlToImage"]
            image_height = 168.75
            image_width = 300
            #fix issues with centering
            html += f"<img src={image_url} alt={headline['title']} class='center' width={image_width} height={image_height}>"
        if headline['description'] is not None:
            html += f"<br>"
            html += f"<p>{headline['description']}<p>"
        html += f"<hr>" -->
