{% extends "bootstrap_layout.html" %}
{% set active_page = "news_form" %}

{% block content %}

    <h2>Subscribe to The Times of Python</h2>

    <p>Request customized news delivered right to your inbox!</p>
    <br>

    <form action="/news/send_email" method="POST">

        <label><strong>Your Information:</strong></label>

        <br>
        <br>

        <label for="country">What is your name? </label>
        <input type="text" id="user_name" name="user_name">

        <br>
        <br>

        <label for="country">What is your email address? </label>
        <input type="email" id="user_email" name="user_email">

        <br>
        <br>
        <br>

        <label><strong>News Customization Options:</strong></label>

        <br>
        <br>

        <label for="country">Which country's news would you like to see?:</label>

        <select name="country" id="country">
            <option value="us">United States</option>
            <option value="ae">United Arab Emirates</option>
            <option value="ar">Argentina</option>
            <option value="at">Austria</option>
            <option value="au">Australia</option>
            <option value="be">Belgium</option>
            <option value="bg">Bulgaria</option>
            <option value="br">Brazil</option>
            <option value="ca">Canada</option>
            <option value="ch">Switzerland</option>
            <option value="cn">China</option>
            <option value="co">Colombia</option>
            <option value="cu">Cuba</option>
            <option value="cz">The Czech Republic</option>
            <option value="de">Germany</option>
            <option value="eg">Egypt</option>
            <option value="fr">France</option>
            <option value="gb">United Kingdom</option>
            <option value="gr">Greece</option>
            <option value="hk">Hong Kong</option>
            <option value="hu">Hungary</option>
            <option value="id">Indonesia</option>
            <option value="ie">Ireland</option>
            <option value="il">Israel</option>
            <option value="in">India</option>
            <option value="it">Italy</option>
            <option value="jp">Japan</option>
            <option value="kr">South Korea</option>
            <option value="lt">Lithuania</option>
            <option value="lv">Latvia</option>
            <option value="ma">Morocco</option>
            <option value="mx">Mexico</option>
            <option value="my">Malaysia</option>
            <option value="ng">Nigeria</option>
            <option value="nl">The Netherlands</option>
            <option value="no">Norway</option>
            <option value="nz">New Zealand</option>
            <option value="ph">The Philippines</option>
            <option value="pl">Poland</option>
            <option value="pt">Portugal</option>
            <option value="ro">Romania</option>
            <option value="rs">Serbia</option>
            <option value="ru">Russia</option>
            <option value="sa">Saudi Arabia</option>
            <option value="se">Sweden</option>
            <option value="sg">Singapore</option>
            <option value="si">Slovenia</option>
            <option value="sk">Slovakia</option>
            <option value="th">Thailand</option>
            <option value="tr">Turkey</option>
            <option value="tw">Taiwan</option>
            <option value="ua">Ukraine</option>
            <option value="ve">Venezuela</option>
            <option value="za">South Africa</option>

        </select>

        <br>
        <br>

        <label for="category1">Choose the news category you're most interested in:</label>

        <select name="category1" id="category1">
            <option value="business">Business</option>
            <option value="entertainment">Entertainment</option>
            <option value="general">General</option>
            <option value="health">Health</option>
            <option value="science">Science</option>
            <option value="sports">Sports</option>
            <option value="technology">Technology</option>
        </select>

<!--        <br>-->
<!--        <br>-->

<!--        <label for="category2">Choose the news cateogry you're second most interested in:</label>-->

<!--        <select name="category2" id="category2">-->
<!--            <option value="business">Business</option>-->
<!--            <option value="entertainment">Entertainment</option>-->
<!--            <option value="general">General</option>-->
<!--            <option value="health">Health</option>-->
<!--            <option value="science">Science</option>-->
<!--            <option value="sports">Sports</option>-->
<!--            <option value="technology">Technology</option>-->
<!--            <option value="None">I'm only interested in the first topic I chose</option>-->
<!--        </select>-->
<!--        -->
<!--        <br>-->
<!--        <br>-->

<!--        <label for="category3">Choose the news cateogry you're third most interested in:</label>-->

<!--        <select name="category3" id="category3">-->
<!--            <option value="business">Business</option>-->
<!--            <option value="entertainment">Entertainment</option>-->
<!--            <option value="general">General</option>-->
<!--            <option value="health">Health</option>-->
<!--            <option value="science">Science</option>-->
<!--            <option value="sports">Sports</option>-->
<!--            <option value="technology">Technology</option>-->
<!--            <option value="None">I'm only interested in the first topic I chose</option>-->
<!--            <option value="None">I'm only interested in the first two topics I chose</option>-->
<!--        </select>-->

        <br>
        <br>
        <br>

        <button>Submit</button>
    </form>

{% endblock %}
